/**********************TAG SELECTORS**********************/
body {
  margin: 0;
}

table {
  border-spacing: 0;
}

/**********************CLASS SELECTORS**********************/
.top-container {
  padding: 20px;
  border-style: solid;
  border-width: 10px;
  height: 200px;
  width: 200px;
  background-color: #00818a;
}

.middle-container {
  border-style: solid;
  border-width: 20px;
  background-color: red;
  height: 200px;
  margin: 0 0 0 260px;
  width: 200px;
}

.middle-container:hover {
  background-color: blue;
  color: rgba(41, 140, 70, 1);
}

.bottom-container {
  border-style: solid;
  border-width: 10px;
  background-color: blue;
  height: 200px;
  margin: 0 0 50px 500px;
  width: 200px;
}

.bottom-container:hover {
  background-color: red;
  color: rgba(218, 140, 62, 1);
}

.sun {
  border-color: black;
  border-width: thick;
  border-style: solid;
  border-radius: 100%;
  display: inline-block;
  margin: auto;
  height: 250px;
  width: 250px;
}

.sun:hover {
  background-color: yellow;
}

.cloud-text {
  text-align: right;
}

/**********************IMAGES**********************/
.cloud2 {
  display: inline-block;
}

.cloud3 {
  display: inline-block;
  width: 300px;
  height: 96px;
}

.mountain {
  display: block;
}

.stickman {
  height: 230px;
  z-index: 1;
}

.stickman2 {
  height: 230px;
  z-index: 2;
}

/**********************TEXT**********************/
.this {
  font-style: italic;
}

.website {
  display: inline-block;
}
